[ColorScheme]
active_colors=#ff{{.C0}}, #{{.C2}}, #ff{{.C1}}, #ff{{.C1}}, #ff{{.C1}}, #ff{{.C1}}, #ff{{.C0}}, #ff{{.C0}}, #ff{{.C0}}, #ff{{.C2}}, #ff{{.C2}}, #ff{{.C1}}, #ff{{.C1}}, #ff{{.C0}}, #ff{{.C1}}, #ff{{.C1}}, #ff{{.C2}}, #ff{{.C0}}, #ff{{.C1}}, #ff{{.C0}}, #80{{.C0}}, #ff{{.C1}}
disabled_colors=#dd{{.C1}}, #dd{{.C2}}, #dd{{.C1}}, #dd{{.C1}}, #dd{{.C1}}, #dd{{.C1}}, #dd{{.C0}}, #dd{{.C1}}, #dd{{.C0}}, #dd{{.C1}}, #dd{{.C2}}, #dd{{.C1}}, #dd{{.C1}}, #dd{{.C0}}, #dd{{.C1}}, #dd{{.C1}}, #dd{{.C2}}, #dd{{.C0}}, #dd{{.C1}}, #dd{{.C0}}, #dd{{.C0}}, #dd{{.C1}}
inactive_colors=#ff{{.C0}}, #{{.C2}}, #ff{{.C1}}, #ff{{.C1}}, #ff{{.C1}}, #ff{{.C1}}, #ff{{.C0}}, #ff{{.C0}}, #ff{{.C0}}, #ff{{.C2}}, #ff{{.C2}}, #ff{{.C1}}, #ff{{.C1}}, #ff{{.C0}}, #ff{{.C1}}, #ff{{.C1}}, #ff{{.C2}}, #ff{{.C0}}, #ff{{.C1}}, #ff{{.C0}}, #80{{.C0}}, #ff{{.C1}}

