window {
    margin: 0px;
    border: 2px solid #{{.C1}};
    border-radius: 5px;
    background-color: rgba({{.RGB2}},0.5);
    background-filter: blur(2px);
    font-family: monospace;
    font-size: 24px;
}

#input {
    margin: 5px;
    border: 1px solid #{{.C1}};
    color: #{{.C0}};
    background-color: rgba({{.RGB2}},0.5);
    background-filter: blur(2px);
}

#input image {
    color: #{{.C0}};
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: rgba({{.RGB2}},0.5);
    background-filter: blur(2px);
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: rgba({{.RGB2}},0.5);
    background-filter: blur(2px);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #{{.C0}};
} 

#entry:selected {
    background-color: #{{.C1}};
    font-weight: normal;
}

#text:selected {
    background-color: #{{.C1}};
    font-weight: normal;
}
