* {
    border: none;
    border-radius: 0;
    font-family: NotoSans Nerd Font, sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

#workspaces {
	background-color: #24283b;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}
#workspaces button {
    padding: 5px 10px;
    color: #c0caf5;
}

#workspaces button.active {
    color: #24283b;
    background-color: #ffffff;
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: #7dcfff;
	color: #24283b;
	border-radius: 5px;
}

#custom-pacman, #custom-date, #cpu, #memory, #clock, #tray, #battery, #pulseaudio, #network, #power-profiles-daemon, #backlight-slider {
	background-color: #24283b;
	padding: 5px 10px;
	margin: 5px 0px;
}

#custom-date {
	color: #7dcfff;
}

#custom-power {
	color: #24283b;
	background-color: #db4b4b;
	border-radius: 10px;
    padding: 0px 20px;
	margin: 5px;
}

#clock {
    color: #b48ead;
    margin-right: 10px;
}

#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 10px;
}

#custom-pacman {
	color: #9ece6a;
	border-radius: 10px ;
}

#cpu {
	color: #f7768e;
}

#memory {
	color: #e0af68;
}

#network {
	color: #f7768e;
}

#pulseaudio {
	color: #e0af68;
}

#backlight-slider {
	color: #e0af68;
}

#power-profiles-daemon{
	color: #e0af68;
}
