* {
    border: none;
    border-radius: 0;
    font-family: NotoSans Nerd Font, sans-serif;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #{{.C0}};
}

#workspaces {
	background-color: #{{.C2}};
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}

#workspaces button {
    padding: 5px 10px;
    color: #{{.AND1}};
}

#workspaces button.active {
    color: #{{.C0}};
    background-color: #{{.C1}};
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: #{{.C1}};
	color: #{{.C0}};
	border-radius: 5px;
}

#custom-pacman, #custom-date, #custom-cpu, #custom-memory, #custom-temp, #custom-weather, #clock, #tray, #battery, #pulseaudio, #network, #power-profiles-daemon, #backlight-slider{
	color: #{{.C0}};
	background-color: #{{.C2}};
	padding: 5px 5px;
	margin: 5px 0px;
}

#custom-pacman {
	border-radius: 10px 0px 0px 10px ;
}

#battery.warning:not(.charging) {
  border-radius: 10px;
}

#clock {
	padding: 0px 10px 0px 0px;
  margin-right: 10px;
	border-radius: 0px 10px 10px 0px ;
}

#tray {
    border-radius: 10px;
}

#custom-power {
	color: #{{.C0}};
	background-color: #{{.C1}};
	border-radius: 20px;
    padding:  0px 20px 0px 15px;
	margin: 5px;
}
